{% extends 'layout.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
  <h1>Posts</h1>
  <p>You have <strong>{{ posts.length }}</strong> posts!</p>
  <p><a href="/post/new">Create a Post</a></p>
  <ul id="posts">
    {% for post in posts %}
      <li>
        <strong>{{ post.title }}</strong> ||
        <a href="/post/{{ post.id }}">View Details</a> ||
        <a href="/post/edit/{{ post.id }}">Edit</a> ||
        <a href="/post/delete/{{ post.id }}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}